

 

<div data-role="popup" id="status_panel" data-theme="a"
         data-display="overlay" data-position="right"> 
  
  <ul data-role="listview">
      
          <li id="time_stamp">Time Stamp: </li>
          <li id="controller_time_stamp">Controller Time Stamp: </li>
          <li id="schedule">Sprinkler Schedule: </li>
          <li id="step">Sprinkler Step:   </li>
          <li id="time">Time Of Step:      </li>
          <li id="duration">Current Duration:  </li>  
          <li id="flow_rate">Current Flow Rate:  </li>
          <li id="coil_current">Coil Current: </li>
          <li id="rain_day">Rain Day:      </li>        
          <li id="eto_management">ETO Management: </li>
          <li id="master_valve">Master Valve State: </li>
          <li id="suspend">SUSPENSION STATE: </li>
          <li id="clean_filter_limit">Filter Cleaning Limit (GPM): </li>
          <li id="clean_filter_value">Filter Cleaning Accumulation (GPM): </li>
  </ul>
    
</div>    
    
<script type="text/javascript" src="/static/js/status_request.js"></script>    
 
       
